<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New CRM Entry</title>
</head>
<body>
  <h1>Create New CRM Entry</h1>
  
  <form action='/crm' method='POST'>
    
    <label for='first'>First</label>
    <input name='first' type='text'/>
    <label for='last'>Last</label>
    <textarea name='last'></textarea>
    <label for='phone'>Phone</label>
    <textarea name='phone'></textarea>
    <label for='linkedIn'>LinkedIn</label>
    <textarea name='linkedIn'></textarea>
    <label for='notes'>Notes</label>
    <textarea name='notes'></textarea>
    <input type='submit' />
    <a href='/crm'>Back to CRM</a>
  </form>
</body>
</html>